/*
 * Home css File
*/

.Home {
  
    height: 80%;
    /* propertys here */
 >img{

    width: 100%;
 }
}

.slide-in{animation:slide-in .7s cubic-bezier(.25,.46,.45,.94) both}
.roll-in{animation:roll-in .65s cubic-bezier(.23,1.000,.32,1.000) both}

@keyframes slide-in{0%{transform:translateY(-600px) rotateX(-30deg) scale(0);transform-origin:50% 100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% 1400px;opacity:1}}
@keyframes roll-in{0%{transform:translateX(-1000px) rotate(-720deg);filter:blur(50px);opacity:0}100%{transform:translateX(0) rotate(0deg);filter:blur(0);opacity:1}}
