/*
 * Footer css File
*/

.Footer {
 
    margin-top: 40%;
 
    
    /* propertys here */
}

.container-footer{
    font-size: 0.6rem;
 
    margin-right: 50%;
    margin-left: 5%;

}
.footer-banner{
    margin-top: 8%;
    padding: 1%;
    color: white;
    background-color: black;
    height: 20%;
    text-align: center;
}