/*
 * Menu css File
*/

.Menu {
    /* propertys here */

    >img{


        width: 100%;
    }
}
.menu-header{


    position: absolute;
    margin-top: -50%;
    background: rgba(255,255,255,.8);
    padding: 1%;
    font-size: 0.8rem;
 
 
}